<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Xin chào: <%= name %></h3>
    <p>Tuổi: <%= age %></p>
    <p>Quê quán: <%= hometown %></p>
    <p>Tình trạng hôn nhân: <%= isMarried %></p>
    <p>Tổng = <%= total %></p>
</body>
</html>