<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sửa thông tin ô tô</title>
    <% include ../_share/style %>
</head>
<body>
    <div class="container-fluid">
        <% include ../_share/header %>
        <main class="container">
            <h4>Sửa thông tin xe</h4>
            <form action="/cars/save-update/<%= car.id %>" method="post">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                        <label for="">Tên xe</label>
                        <input type="text" name="name" 
                            value="<%= car.name %>"
                            class="form-control"
                            placeholder="Nhập tên xe">
                    </div>
                    <div class="form-group">
                        <label for="">Hãng xe ô tô</label>
                        <select name="brand_id" class="form-control">
                            <%for(let i = 0; i < brands.length; i++){%>
                                <option 
                                    <% if(brands[i].id == car.brand_id.id ){%>
                                        selected
                                    <%}%>
                                    value="<%= brands[i].id %>"><%= brands[i].name %></option>
                            <%}%>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Ảnh </label>
                        <input type="text" name="image" 
                            value="<%= car.image %>"
                            class="form-control"
                            placeholder="Nhập đường dẫn ảnh">
                    </div>
                    <div class="form-group">
                        <label for="">Giá </label>
                        <input type="number" name="price" 
                            value="<%= car.price %>"
                            class="form-control"
                            placeholder="Nhập giá xe">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary btn-sm" 
                            type="submit">Lưu</button>
                        &nbsp;
                        <a href="/brands" 
                            class="btn btn-sm btn-danger">Hủy</a>
                    </div>
                </div>
            </form>
        </main>
    </div>
    <% include ../_share/script %>
</body>
</html>